.card {
  background-color: rgb(160, 160, 160);
  width: 20%;
  margin: 2em;
  transition: 0.5s;
  position: relative;
  border-radius: 10px;
}
.card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card.flipped {
  background-color: rgb(199, 199, 199);
}

.card.removed {
  background-color: inherit;
}

.card img,
.card.flipped.removed img {
  visibility: hidden;
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: visibility 0s, opacity 0.5s linear;
}

.card.flipped img {
  visibility: visible;
  opacity: 1;
}
