.card {
  background-color: red;
  width: 20%;
  height: 100px;
  margin: 2em;
}

.card.removed {
  background-color: white; 
}

.card img {
  display: none;
  max-width: 100%;
  max-height: 100%;
}

.card.flipped img{
  display: block;
}